---
import { Image } from 'astro:assets'
import type { ImageMetadata } from 'astro'
import { cn } from '@/utils'

const {
	as: Tag = 'div',
	class: className,
	href,
	heading,
	subheading,
	date,
	imagePath,
	svgPath,
	altText,
	imageClass
} = Astro.props
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/*.{jpeg,jpg,png,gif}')

if (imagePath) {
	if (!images[imagePath])
		throw new Error(`"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`)
}
---

<Tag
	class={cn(
		className,
		'relative rounded-2xl border border-border bg-primary-foreground px-5 py-3',
		href && 'transition-all hover:border-foreground/25 hover:shadow-sm'
	)}
	href={href}
>
	{
		imagePath && (
			<Image
				src={images[imagePath]()}
				alt={altText}
				class={cn('mb-3 md:absolute md:mb-0', imageClass)}
				loading='eager'
			/>
		)
	}
	{
		svgPath && (
		<svg
			xmlns='http://www.w3.org/2000/svg'
			width='150'
			height='150'
			class={cn('mb-3 md:absolute md:mb-0', imageClass)}
			viewBox='15 53 45 45'
			fill="currentColor"
			>
			<g>
			<path class="st0" d="M30.21,69.67l1.62,11.76l5.33-8.9l-2.26,9.79l5.75-5.5l-2.99,7.26l4.78-3.57c-2.23,6.06-4.16,9.45-12.22,12.21
				c-8.06-2.76-10-6.15-12.22-12.21l4.78,3.57l-2.99-7.26l5.75,5.5l-2.26-9.79l5.33,8.9L30.21,69.67z"/>
			<path class="st0" d="M21.77,65.72c-2.44,0-3.9-1.31-3.9-3.5v-5.26h2.02v5.17c0,1.28,0.67,1.98,1.89,1.98
				c1.25,0,1.91-0.67,1.91-1.94v-5.21h2.04v5.22C25.73,64.37,24.21,65.72,21.77,65.72"/>
			<path class="st0" d="M30.28,65.58h-2.83v-8.61h2.87c2.1,0,3.25,0.81,3.25,2.29c0,0.78-0.41,1.37-1.18,1.74
				c1.03,0.37,1.56,1.05,1.56,2.04C33.96,64.67,32.66,65.58,30.28,65.58 M29.41,64.14h0.87c0.79,0,1.72-0.2,1.72-1.16
				c0-0.99-0.95-1.2-1.75-1.2h-0.84V64.14z M29.41,60.43h0.73c0.99,0,1.53-0.37,1.53-1.04c0-0.66-0.48-0.98-1.45-0.98h-0.82V60.43z"/>
			<path class="st0" d="M39.63,65.72c-2.79,0-4.59-1.74-4.59-4.44c0-2.67,1.87-4.46,4.64-4.46c1.03,0,1.9,0.2,2.65,0.62l0.07,0.04
				l-0.3,1.75l-0.13-0.09c-0.74-0.5-1.44-0.73-2.21-0.73c-1.66,0-2.65,1.07-2.65,2.86c0,1.75,1.02,2.84,2.67,2.84
				c0.78,0,1.55-0.24,2.35-0.72l0.13-0.08l0.28,1.64l-0.06,0.04C41.67,65.46,40.65,65.72,39.63,65.72"/>
			<path class="st0" d="M30.21,94.54c-9.51-2.7-14.06-8.98-14.06-17.93v-21.2h28.11v21.2C44.26,85.57,39.72,91.85,30.21,94.54
				M15,54.26v22.49c0,9.45,5.14,16.3,15.21,18.98c10.06-2.68,15.21-9.53,15.21-18.98V54.26H15z"/>
			<path class="st0" d="M30.21,68.63c2.12,0,2.41,0.86,4.11,0.85c1.7,0.01,1.99-0.85,4.11-0.85c2.12,0,2.41,0.86,4.12,0.85V67.5
				c-1.7,0.01-2-0.84-4.12-0.84c-2.12,0-2.41,0.85-4.11,0.84c-1.71,0.01-1.99-0.84-4.11-0.84s-2.41,0.85-4.11,0.84
				c-1.7,0.01-1.99-0.84-4.11-0.84c-2.12,0-2.41,0.85-4.11,0.84v1.98c1.7,0.01,1.99-0.85,4.11-0.85c2.12,0,2.41,0.86,4.11,0.85
				C27.8,69.49,28.09,68.63,30.21,68.63"/>
			<path class="st0" d="M31.55,72.2c1.02,0.25,1.51,0.71,2.77,0.71c1.7,0.01,1.99-0.85,4.11-0.85c2.12,0,2.41,0.86,4.11,0.85v-1.98
				c-1.7,0.01-1.99-0.84-4.11-0.84c-2.12,0-2.41,0.85-4.11,0.84c-1.37,0.01-1.83-0.54-3.05-0.75L31.55,72.2z"/>
			<path class="st0" d="M26.09,72.9c1.26,0.01,1.75-0.46,2.77-0.7l0.28-2.02c-1.22,0.22-1.68,0.76-3.05,0.75
				c-1.7,0.01-1.99-0.84-4.11-0.84c-2.12,0-2.41,0.85-4.12,0.84v1.97c1.7,0.01,1.99-0.85,4.12-0.85C24.1,72.05,24.39,72.91,26.09,72.9
				"/>
			<path class="st0" d="M32.04,75.76c0.58,0.2,1.02,0.44,1.71,0.53l1.18-1.98c-0.18,0.03-0.39,0.04-0.62,0.04
				c-1.17,0.01-1.68-0.39-2.56-0.64L32.04,75.76z"/>
			<path class="st0" d="M37.47,75.55c0.28-0.04,0.59-0.07,0.96-0.07c2.12,0,2.41,0.86,4.12,0.85v-1.98c-1.7,0.01-2-0.84-4.12-0.84
				c-0.18,0-0.34,0.01-0.5,0.02L37.47,75.55z"/>
			<path class="st0" d="M22.94,75.55l-0.47-2.02c-0.16-0.01-0.32-0.02-0.5-0.02c-2.12,0-2.41,0.85-4.12,0.84v1.98
				c1.7,0.01,2-0.85,4.12-0.85C22.35,75.47,22.67,75.5,22.94,75.55"/>
			<path class="st0" d="M26.66,76.29c0.69-0.09,1.13-0.33,1.71-0.53l0.28-2.06c-0.89,0.25-1.39,0.65-2.56,0.64
				c-0.23,0-0.43-0.01-0.62-0.04L26.66,76.29z"/>
			</g>
		</svg>
		)
	}
	<div class='flex flex-col gap-y-1.5'>
		<div class='flex flex-col gap-y-0.5'>
			<h1 class='text-lg font-medium'>{heading}</h1>
			<h2 class='text-muted-foreground'>{subheading}</h2>
			<h2 class='text-muted-foreground'>{date}</h2>
		</div>
		<slot />
	</div>
</Tag>
